<h2>Transaction  Details :</h2>

      <table class="table">
        <thead>
          <tr>
          <td>To Account No.</td>
          <td>Beneficiary Account no.</td>
          <td>Amount</td>
          <td>Date</td>
          
          </tr>
        </thead>
        <tbody *ngFor="let user of myObservableArray | async">
          <tr>
            <td>{{user.account1}}</td>
            <td>{{user.account2}}</td>
            <td>{{user.amount}}</td>
            <td>{{user.date}}</td>
          </tr>
        </tbody>
      </table>


      